Repository Esysc/cloudflare-ddns: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, shellcheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
        # - id: check-executables-have-shebang


  # Use the official ruff pre-commit mirror (astral-sh). Use ruff-check
  # which supports --fix; pin to a recent release.
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.2
    hooks:
      - id: ruff-check
        name: ruff (auto-fix)
        args: ["--fix"]
        files: "\\.py$"

  # Use a local pylint hook that runs the pylint executable from your active
  # Python environment (system or virtualenv). This avoids pre-commit needing
  # to fetch and checkout a remote mirrors-pylint tag which can fail in some
  # environments. If you later want pre-commit to manage pylint, run
  # `pre-commit autoupdate --repo https://github.com/pre-commit/mirrors-pylint`
  # locally and update this config with the pinned rev it produces.
  - repo: local
    hooks:
      - id: pylint
        name: pylint (system)
        entry: pylint
        language: system
        types: [python]

  # ShellCheck pre-commit hook (koalaman). Pin to a branch or tag you prefer.
  # Pin the koalaman shellcheck pre-commit hook to a concrete tag. If this
  # rev doesn't exist for you, run `pre-commit autoupdate --repo https://github.com/koalaman/shellcheck-precommit`
  # locally to find a valid immutable tag and commit the updated rev.
  - repo: local
    hooks:
      - id: shellcheck
        name: shellcheck (system)
        entry: shellcheck
        language: system
        files: "\\.(sh|bash|ksh)$"

  # NOTE: shellcheck hook removed because mirrors for shellcheck can sometimes
  # be unavailable in some environments; please install `shellcheck` locally
  # (brew install shellcheck) and run `shellcheck` in CI if desired.

  # NOTE: pylint and mypy were removed from this default config to avoid
  # heavy environment setup in `pre-commit` on initial install. If you want
  # stricter static checks enable them and pin correct `rev` values, e.g.
  # mirrors-pylint at a valid pylint release.

feat: Initial commit of Cloudflare DDNS updater
  .github/workflows/ddns-schedule.yml
Due: none

fix: path to requirements file
  .github/workflows/python-tests.yml
Due: none

add documentation on how to contribute to this repo
  CONTRIBUTING.md
Due: none

add issue and pull request template
  .github/ISSUE_TEMPLATE/issue_template.md
  .github/PULL_REQUEST_TEMPLATE/PULL_REQUEST_TEMPLATE.md
Due: none

fix arguments parsing while executing from crontab
  README.md
  run_ddns.sh
Due: shellcheck

move examples files in dedicated directory
  examples/cron.example
  examples/ddns.service
  examples/ddns.timer
Due: none

send optionals notifications using Apprise
  requirements.txt
  run_ddns.sh
Due: shellcheck

fix new lines being interpreted as literal \n
  run_ddns.sh
Due: shellcheck

add email recipient (optional)
  run_ddns.sh
Due: shellcheck

send notification only if an update has been done (dry run or not)
  .pre-commit-config.yaml
  ddns.py
  run_ddns.sh
Due: pylint, shellcheck

exit code 7 is safe, don't stop immediatly the script
  ddns.py
  run_ddns.sh
Due: pylint, shellcheck

temporarely disable error handling to cpature python script exit code
  run_ddns.sh
Due: shellcheck

update documentation
  README.md
Due: none

improve coverage
  tests/test_main_logic.py
Due: pylint

ignore SIGHUP
  run_ddns.sh
Due: shellcheck

unify shell and python log file
  run_ddns.sh
Due: shellcheck

feat: Initial commit of Cloudflare DDNS updater
  .github/workflows/ddns-schedule.yml
  CONTRIBUTING.md
  README.md
  run_ddns.sh
Due: shellcheck

refactor argument parsing
  run_ddns.sh
Due: shellcheck

fix documentation styling
  README.md
Due: none

fix CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

catch http issues more strictly
  ddns.py
Due: pylint

document the exit code meaning
  run_ddns.sh
Due: shellcheck

fix exit code, logger and confition
  ddns.py
  tests/test_main_logic.py
Due: pylint

Update unittest command to include tests directory
  README.md
Due: none
